body {
  background-color: #6d6a6a;
}

/*
matn  bala safhe va rang va size
*/
.main-name {
  font-family: Sahel, Tahoma;
  font-size: 50px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
}

/*
tahlil ha 
*/
.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;
}

/*
matn roye aks ha ke be chap miravad
*/
.card:hover .card-overlay {
  left: 0;
}
.card-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 50;
  transition: left 0.7s;
}
/*
size va font matn roye aks ha
*/
.card-overlay-paragraph {
  font-family: Sahel, Tahoma;
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 350;
  letter-spacing: 2px;
}
/*
shafafiat zire aks ha
*/
.card-img {
  object-fit: cover;
  opacity: 0.3;
}

/*
dokme safhe asli va darbare man dar dokme bala safhe tahlil 
*/
.navbar {
  position: relative;
  z-index: 10;
}

/*
dokme safhe asli va darbare man dar dokme bala safhe tahlil ha
*/
.navbar-navigation-right {
  width: 25vw;
  height: 50vh;
  background-color: #1f1d1d;
  position: fixed;
  right: -50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

/*
andaze va rang dokme bala safhe
*/
.navbar-navigation .nav-list-link {
  font-family: Sahel, Tahoma;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgb(218, 245, 69);
  text-decoration: none;
  display: block;
  margin: 20px;
  text-align: center;
  transition: all 0.5s;
}

/*
rang matn bad az in ke mous royash vaysad
*/
.navbar-navigation .nav-list-link:hover {
  color: #11c7e7;
  letter-spacing: 4px;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

/*
aks safhe bala site va size an
*/
.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/background.jpg) center no-repeat;
  background-size: cover;
}

.header .brand {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}


/*
maavred va mataleb tahlil shode dar kenar yek digar vaymistand
*/
.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/*
size va makan gharar giri footer
*/
.footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.footer-copyright-paragraph {
  font-family: Sahel, Tahoma;
  font-size: 20px;
  color: #bbb;
  direction: rtl;
}


