.vazirfont{
    font-family: vazir;
}
:lang(fa){
    text-align:right;
    direction:rtl;
}
.center{
    text-align:center;
}
header{
    background-color: rgb(177, 94, 94);
    
}
footer{
    background-color: black;
    border: 1px solid snow;
}
.whiteBack{
    background-color: white;
    
}
.blackBack{
    background-color: rgb(121, 105, 76);
}
.frontWhite{
    color: white;
}
.ham-menu .menu, .card-overlay, .card-img {
    width: 100%;
    height: 100%;
  }
  
  * {
    padding: 0;
    margin: 0;
  }

  .ham-menu {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 300;
  }
  
  @media (max-width: 800px) {
    .ham-menu {
      width: 35px;
      height: 35px;
    }
  }
  
  @media (max-width: 500px) {
    .ham-menu {
      width: 25px;
      height: 25px;
    }
  }
  
  .ham-menu .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .ham-menu .menu-line {
    width: 100%;
    height: 4px;
    background-color: #d3ab55;
    transition: all 0.5s 0.5s;
    transform-origin: right;
  }
  
  @media (max-width: 800px) {
    .ham-menu .menu-line {
      height: 3px;
    }
  }
  
  @media (max-width: 500px) {
    .ham-menu .menu-line {
      height: 2px;
    }
  }
  .checkbox:checked ~ .ham-menu .menu {
    transform: rotateZ(90deg);
  }
  
  .checkbox:checked ~ .ham-menu .menu-line-1 {
    transform: rotateZ(-40deg);
  }
  
  .checkbox:checked ~ .ham-menu .menu-line-2 {
    opacity: 0;
  }
  
  .checkbox:checked ~ .ham-menu .menu-line-3 {
    transform: rotateZ(40deg);
  }

  